*{
    margin: 0;
}


h1{
    background-color: deeppink;
    margin-top: 100px;   /*dışardan üst tarafa boşluk verme */
}

#par1{
    background-color: aqua;
    margin: 10px 50px;
    border: 5px solid red;
    padding: 20px;  /*  borderla yazı arasında kalan alan padding(çerçeveyle yazı arasındaki boşluk) */ 
    box-sizing: border-box;    /* kutunun sınırlarını koru demek padding ne kadar değişirse değişsin kutunun boyutu sabit kalır */
    /* box-sizing: content-box; içerik aldıkça kutunun genişliğini ona göre ayarla demek */
    margin-top: 100px;
}

#par2{
    background-color: indigo;
    margin-bottom: ;     /*  dışardan aşağıya boşluk verme */
}

.container{
    background-color: bisque;
    border: 1px solid red; /*  burda border vermezsek yukarıdaki olan h1 le container birbirinden ayrılamıyor. çünkü aynı div in içindeler ayırmak gerekiyor .o nedenle 1 px bile border vermek ayrı olarak işlem yapmayı kolaylaştırır padding te verilebilir*/
    margin: 50px;
}