

#par1{
    background-color: red;
}
#par2{
    background-color: rgb(0,255, 0);
}
#par3{
    background: rgb(0,0, 255);
}
#par4{
    background-color: hsl(240, 10%, 50%);
}
#par5{

}
#par6{

}
#par7{

}
