*{
    /* margin: 0; */
}



.container{
    background-color: orange;
    border: 2px solid red;
    margin: 30px;
    border: 1px solid black;
}
.box1{
    background-color: magenta;
    width: 150px;
    height: 150px;
    border:2px solid black
    
}

.box2{
    background-color: yellow;
    width: 150px;
    height: 150px;
    border:2px solid black
    

}

.box3{
    background-color: blue;
    width: 150px;
    height: 150px;
    border:2px solid black
}

