.font1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.font2{
    font-family: ;
}
.font3{
    font-variant: small-caps; /* cümlelerin başındaki kelimlerin ilk harfini font olarak büyük yazıyor*/
     
}