*{
    border: 2px solid black;
    border-radius:10px ;
    text-align: center;
}

header{
    background-color: blueviolet;
    margin-top: 10px;
}

main{
    background-color: aquamarine;
    padding: 5px;
     /*overflow: auto;
    height: 350px;    ikisi de çok tercih edilen bir yöntem değil */
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}   /* floot larla meydana gelen sorunları bu şekilde gideriyoruz */

aside{
    background-color: brown;
    width: 25%;
    height: 300px;
    float: left;
    margin-right: 10px;
   
}
article{
    background-color: lime;
    width: 70%;
    height: 300px;
    float: left;
}
footer{
    background-color: orangered;
}

