

/* MADDE İMİ STİLLERİ */
ul.Languages{  /*classı lang. olan ul demek*/
    list-style-type: circle; /*yuvarlak madde*/
    list-style-type: square;
    list-style-type: none;
    list-style-type: lower-latin;
    list-style-type: disc;
    list-style-type: georgian;
}

    /* MADDE İMİ Lİ LERİN İÇİNDE Mİ DIŞINDA MI OLSUN */
    list-style-position: inside;
    /* padding: 20px; */

